{% if modules8activation == 1 %}
	<li class="divider">
	</li>
	<li>											
		<a href="{{ path('bacloocrm_showfavoris') }}"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Mes Collègues</a>
	</li>
{% endif %}