{# src/Bacloo/CrmBundle/Resources/views/Blog/search.html.twig #}
{% extends "BaclooCrmBundle::layout2.html.twig" %}
{% block body %}
	<div class="row clearfix">
<p class=MsoNormal style='mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal;mso-outline-level:3'><strong><span style='font-size:13.5pt;
font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
mso-fareast-language:FR'>Conditions générales d'utilisation<o:p></o:p></span></strong></p>

<table class=MsoNormalTable border=0 cellpadding=0 style='mso-cellspacing:1.5pt;
 mso-yfti-tbllook:1184'>
 <tr style='mso-yfti-irow:0;mso-yfti-firstrow:yes;mso-yfti-lastrow:yes'>
  <td style='padding:.75pt .75pt .75pt .75pt'>
  <div>
  <p class=MsoNormal style='mso-margin-top-alt:auto;margin-bottom:12.0pt;
  text-align:justify;line-height:normal'><span style='font-size:12.0pt;
  font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
  mso-fareast-language:FR'>Les présentes conditions générales d’utilisation (la
  « Convention ») constitue un contrat entre vous (personne physique ou
  personne morale) et <span class=SpellE>Bacloo</span> et régit l’accès et
  l’utilisation des services et solutions de gestion de suivi de prospection commercial
  ou de gestion de contacts, de même que tout autre service ou solution offert
  de temps à autre par <span class=SpellE>Bacloo</span> (les « Services ») par
  l’entremise du site Bacloo.fr (collectivement désigné le « Site ») et
  l’utilisation des dits Services.<br>
  <br>
  <strong>VEUILLEZ LIRE ATTENTIVEMENT TOUTES LES MODALITÉS AVANT DE VOUS INSCRIRE.<br>
  <br>
  EN VOUS INSCRIVANT, VOUS RECONNAISSEZ AVOIR LU LES PRESENTES CONDITIONS
  GENERALES ET SIGNIFIEZ VOTRE ACCEPTATION DES PRESENTES MODALITÉS ET
  CONDITIONS GENERALES. SI VOUS NE CONSENTEZ PAS AU RESPECT DES PRESENTES MODALITÉS
  ET CONDITIONS, VOUS NE DEVEZ PAS VOUS INSCRIRE, NE DEVEZ PAS ACCÉDER AU SITE
  ET NE POUVEZ PAS UTILISER LES SERVICES.</strong><br>
  <strong><br>
  1. DÉFINITIONS</strong><br>
  <br>
  <strong>« Crédit » </strong>désigne l’unité dans laquelle s’effectuent les échanges sur
  le site. Les utilisateurs peuvent acheter des crédits et les convertir en
  euros qui seront virés sur leur compte bancaire. <br>
  <br>
  « Bases de données » désigne les bases de données crées de temps à autre par
  un Utilisateur et ses Utilisateurs par l’entremise des Services et contenant
  notamment un ensemble d’informations relatives au Utilisateur, aux
  Utilisateurs, et aux affaires de <span class=GramE>l’utilisateur ,</span> y
  incluant notamment mais non limitativement la liste de utilisateurs et des
  informations les concernant.<br>
  <br>
  <strong>« Utilisateur » </strong><span style='mso-spacerun:yes'> </span>désigne toute
  personne physique ou morale qui utilise les Services et possède un
  identifiant et un mot de passe. <o:p></o:p></span></p>
  <p class=MsoNormal style='mso-margin-top-alt:auto;margin-bottom:12.0pt;
  text-align:justify;line-height:normal'><span style='font-size:12.0pt;
  font-family:"Times New Roman","serif";mso-fareast-font-family:"Times New Roman";
  mso-fareast-language:FR'>« Formulaire d’inscription Utilisateur » désigne le
  document rempli par l’utilisateur pour s’abonner aux Services et lui
  permettre de créer un compte Utilisateur pour avoir accès aux Services.<br>
  <br>
  <strong>« Formulaire d’inscription Utilisateur »</strong> désigne le document rempli
  par l’utilisateur pour permettre à un utilisateur d’accéder au compte Utilisateur
  et aux Services.<br>
  <strong><br>
  2. DROITS ACCORDÉS</strong><br>
  <br>
  En contrepartie des engagements prévus aux présentes, <span class=SpellE>Bacloo</span>
  vous accorde un droit personnel, incessible et non exclusif et d’accès au
  Site et d’utilisation des Services.<br>
  <br>
  <strong>3. CONDITIONS D'ACCÈS AUX SERVICES</strong><br>
  <br>
  3.1. Accès<br>
  <br>
  L’accès aux Services ne peut s’effectuer que par le Site, par l’entremise du
  réseau Internet. L'accès aux Services nécessite au préalable une connexion au
  réseau Internet. L’utilisateur et les Utilisateurs seront seuls responsables
  de leur connexion au réseau Internet et de tous les frais afférents à telle
  connexion.<br>
  <br>
  3.2. Création d’un compte<br>
  <br>
  <strong>Création d’un compte Utilisateur</strong><br>
  <br>
  Pour accéder aux Services, l’utilisateur doit s'être enregistré et avoir créé
  un compte. À cette fin, l’utilisateur devra avoir rempli l'ensemble des
  champs obligatoires figurant au Formulaire d'inscription Utilisateur.<br>
  <br>
  Lors de l'inscription en ligne pour la création d'un compte Utilisateur, l’utilisateur
  reconnaît que seules des informations vraies, exactes, à jour et complètes
  ont été fournies. L’utilisateur pourra à tout moment modifier les
  informations de son compte. Si l’utilisateur ne peut pas modifier ses
  informations, il pourra contacter <span class=SpellE>Bacloo</span> qui lui
  fournira les informations nécessaires pour procéder à la modification de ces
  informations.<br>
  <br>
  Lors de l'inscription en ligne, un identifiant et un mot de passe auront été
  choisis par l’utilisateur et lui permettront d'accéder aux Services et de
  gérer son compte de façon à ce que l’utilisateur seul puisse bénéficier d'un
  accès à ses informations ainsi qu’aux informations contenues dans les Bases
  de données. L’utilisateur peut modifier les informations relatives à son
  compte à l'aide de son identifiant et de son mot de passe.<br>
  <br>
  Pour des raisons de sécurité et de confidentialité, seule la combinaison des
  identifiants et mot de passe de l’utilisateur <span
  style='mso-spacerun:yes'> </span>permettront d'accéder aux Services.
  L'identifiant et le mot de passe valent preuve de l'identité de l’utilisateur
  <span style='mso-spacerun:yes'> </span>et l'engagent sur toute utilisation
  faite des Services par son intermédiaire.<br>
  <br>
  L’activation du compte Utilisateur sera effectuée une fois que l’utilisateur aura
  dûment complété le Formulaire d’inscription Utilisateur, qu’il aura effectué
  le paiement requis et qu’il aura accepté les termes de la présente
  Convention.<br>
  <strong><br>
  Création d’un compte Utilisateur</strong>.<br>
  <br>
  Pour accéder aux Services, l’utilisateur doit remplir l'ensemble des champs
  obligatoires figurant au Formulaire d'inscription Utilisateur.<br>
  <br>
  Lors de l'inscription en ligne pour la création d'un compte Utilisateur, l’utilisateur
  s'engage strictement à fournir des informations vraies, exactes, à jour et
  complètes. L’utilisateur pourra à tout moment modifier les informations d’un
  compte Utilisateur. Si l’utilisateur ne peut pas modifier ses informations,
  il pourra contacter <span class=SpellE>Bacloo</span> qui lui fournira les
  informations nécessaires pour procéder à la modification de ces informations.<br>
  <br>
  Lors de l'inscription en ligne, un identifiant et un mot de passe seront
  choisis par l’utilisateur et permettront à l’Utilisateur d'accéder aux Services
  et de gérer le compte Utilisateur de façon à ce que l’utilisateur et
  l’Utilisateur seul puissent bénéficier d'un accès à son compte, aux Services
  et aux informations contenues dans les Bases de données. <br>
  <br>
  Pour des raisons de sécurité et de confidentialité, seule la combinaison des
  identifiants et mot de passe d’un Utilisateur permettront d'accéder aux
  Services. L'identifiant et le mot de passe valent preuve de l'identité de
  l’Utilisateur et l'engagent personnellement.<br>
  <br>
  L’activation du compte Utilisateur sera effectuée une fois que l’utilisateur aura
  cliqué sur le lien d’activation de son compte. <br>
  <strong><br>
  Fausses informations</strong><br>
  <br>
  Dans l'hypothèse où l’utilisateur fournirait des informations fausses,
  inexactes, périmées, incomplètes ou en violation avec les dispositions du
  présent article, <span class=SpellE>Bacloo</span> sera en droit de suspendre
  ou de supprimer, à sa discrétion, le compte de l’utilisateur sans délai et de
  lui refuser immédiatement, et pour le futur, l'accès à tout ou partie des
  Services.<br>
  <br>
  3.3. Usage<br>
  <br>
  Aucun utilisateurs ne devra divulguer son identifiant ou son mot de passe à
  quiconque. <span class=SpellE>Bacloo</span> ne demandera jamais à un Utilisateur
  via un appel téléphonique ou un courrier électronique non sollicité.<br>
  <br>
  L’utilisateur devra se déconnecter de sa session et fermer la fenêtre de son
  navigateur à l'issue de sa session de travail pour éviter que des tiers n'accèdent
  à ses informations contenues dans les Bases de données.<br>
  <br>
  En cas d'usage frauduleux du compte Utilisateur par un tiers dû à la
  négligence de l’utilisateur <span style='mso-spacerun:yes'> </span>ce dernier
  en supportera toutes les conséquences. Si un utilisateur a des raisons de
  penser qu'une personne utilise ses éléments d'identification, son compte, il
  devra en informer immédiatement <span class=SpellE>Bacloo</span>.<br>
  <br>
  <span class=SpellE>Bacloo</span> n'est pas responsable en cas d'usurpation de
  l'identité d'un Utilisateur et ne pourra être tenue responsable de toute
  perte ou dommage résultant de l’accès aux Services ou à l’information
  contenue dans les Bases de données par une personne non autorisée.<br>
  <br>
  <span class=SpellE>Bacloo</span> se réserve le droit de retirer ou modifier
  les noms d’identifiant ou de mettre fin à tout compte en raison de toute
  utilisation non autorisée quelle qu’en soit la cause.<br>
  <br>
  3.4. Utilisation des Services<br>
  <br>
  L’utilisateur est pleinement responsables de l’utilisation des Services et de
  toute communication effectuée par l'intermédiaire des Services.<br>
  <br>
  Dans le cadre de l’utilisation des Services, l’utilisateur et les
  Utilisateurs s’engagent à:<br>
  <br>
  &nbsp;&nbsp;&nbsp; * Ne pas diffuser des informations diffamatoires,
  calomnieuses, racistes, obscènes, incitant à la violence ou à la haine
  raciale, religieuses ou ethniques, attachées à la pornographie, portant
  atteinte à la vie privée de tiers ou, de manière générale, toutes
  informations illicites ou autrement susceptibles de nuire à l’ordre public;<br>
  &nbsp;&nbsp;&nbsp; * Ne pas faire une utilisation du Site et des Services à
  des fins de menace, de harcèlement ou d'injure ou, de manière générale, en
  violation des droits des tiers;<br>
  &nbsp;&nbsp;&nbsp; * Faire en sorte que toute publicité transmise à un tiers
  par l’entremise du Site ou des Services (i) ne soit pas fausse, imprécise,
  mensongère, (ii) ne soit pas frauduleuse ou n’implique pas la vente
  d'articles contrefaits ou volés, (iii) ne contienne pas de programme
  informatique visant à endommager ou à intercepter clandestinement tout
  système informatique, données ou informations nominatives ;<br>
  &nbsp;&nbsp;&nbsp; * Cesser d’envoyer toute publicité ou tout courriel à tout
  tiers qui l’avisera de son souhait de ne plus recevoir toute telle publicité
  ou tout tel courriel. La liste qui précède n’est pas limitative et <span
  class=SpellE>Bacloo</span> se réserve le droit de la modifier de temps à autre
  à son entière discrétion. <span class=SpellE>Bacloo</span> ne peut être tenue
  responsable pour toute utilisation conforme ou non-conforme, licite ou
  illicite des Services par un Utilisateur ou un Utilisateur.<br>
  <strong><br>
  4. ACCESSIBILITÉ</strong><br>
  <br>
  <span class=SpellE>Bacloo</span> s’engage à mettre en œuvre tous les moyens à
  sa disposition afin d’assurer l’accès continu au Site et aux Services.<br>
  <br>
  Le Site et les Services seront normalement accessibles 24h/24, sous réserve
  des heures d’interruption requises (i) pour la mise à jour et la maintenance
  courantes du Site et des Services, ou (ii) en cas d’incident sur le réseau ou
  d’urgence qui rendrait nécessaire l’interruption temporaire de l’accès au
  Site et aux Services.<br>
  <br>
  En cas d’interruption du Site ou des Services, <span class=SpellE>Bacloo</span>
  s’engage à déployer tous les efforts afin de rétablir l’accès au Site et aux
  Services dans les meilleurs délais.<br>
  <br>
  De plus, <span class=SpellE>Bacloo</span> se réserve le droit, sous réserve
  d'un préavis de huit (8) jours transmis au Utilisateur, d'interrompre
  temporairement tout ou partie de l’accès au Site et aux Services pour des
  fins techniques. Ces interruptions auront lieu dans la mesure du possible
  entre minuit et 6h du matin GMT, et <span class=SpellE>Bacloo</span>
  déploiera ses meilleurs efforts afin que ces interruptions ne durent pas plus
  de quatre (4) heures consécutives.<br>
  <br>
  <span class=SpellE>Bacloo</span> ne peut être tenue responsable de toute
  interruption temporaire, planifiée ou non, de l’accès au Site et aux
  Services.<br>
  <br>
  <strong>5. ASSISTANCE</strong><br>
  <br>
  Un service d’assistance est offert aux Utilisateurs et aux Utilisateurs par <span
  class=SpellE>Bacloo</span> relativement à toute question concernant le Site
  et les Services. Cette assistance est offerte par courriel à support@Bacloo.fr.
  <span class=SpellE>Bacloo</span> fera tout en son possible pour vous répondre
  à l’intérieur d’un délai d’une (1) journée ouvrable.<br>
  <br>
  <strong>7. DURÉE ET RÉSILIATION</strong><br>
  <br>
  7.1. Entrée en vigueur<br>
  <br>
  La présente convention entre en vigueur entre <span class=SpellE>Bacloo</span>
  et un Utilisateur à compter de l’activation du compte Utilisateur et entre en
  vigueur entre <span class=SpellE>Bacloo</span> et un Utilisateur à compter de
  l’activation du compte d’Utilisateur.<br>
  <br>
  7.2. Durée<br>
  <br>
  La présente Convention demeure en vigueur entre <span class=SpellE>Bacloo</span>
  et un Utilisateur tant et aussi longtemps qu’un compte Utilisateur demeure en
  vigueur et (ii) que l’utilisateur consent aux termes de la présente
  Convention, telle que modifiée de temps à autre.<br>
  <br>
  La présente Convention demeure en vigueur entre <span class=SpellE>Bacloo</span>
  et un Utilisateur tant et aussi longtemps (i) que le compte d’un Utilisateur est
  actif, (i) que l’utilisateur consent aux termes de la présente Convention,
  telle que modifiée de temps à autre.<br>
  <br>
  7.3. Suspension<br>
  <br>
  <span class=SpellE>Bacloo</span> se réserve le droit de refuser, limiter ou
  bloquer le droit d’accès au Site ou aux Services à tout Utilisateur ou
  Utilisateur qui ne respecterait pas totalement ou partiellement l’une ou
  l’autre des conditions d’utilisation de la présente Convention.<br>
  <br>
  De plus, si <span class=SpellE>Bacloo</span> reçoit une plainte d’un tiers à
  l’effet que l’usage fait par un Utilisateur des Services porte atteinte à
  l’un de ses droits, <span class=SpellE>Bacloo</span> pourra alors, suspendre
  provisoirement, sans donner droit à des dommages pour le Utilisateur, l’accès
  aux Services et ce, si, à l’expiration d’un délai de cinq (5) jours suivant
  l’envoi d’une mise en demeure au Utilisateur lui indiquant la nature de la
  plainte et les mesures à prendre, aucune mesure n’a été prise par l’utilisateur
  pour corriger la situation. En cas de récidive par <span class=GramE>le Utilisateur</span>,
  <span class=SpellE>Bacloo</span> aura alors droit de suspendre provisoirement
  l’accès immédiatement, sans mise en demeure préalable et sans droit de compensation
  pour le Utilisateur.<br>
  <br>
  7.4. Résiliation<br>
  <br>
  Nonobstant ce qui précède, la présente Convention pourra être résiliée
  unilatéralement par <span class=SpellE>Bacloo</span>, sans préavis ni mise en
  demeure, en cas de violation de la présente Convention par l’utilisateur ou
  d’un Utilisateur. Une telle résiliation pour cause de violation à l’une ou
  l’autre des dispositions de la présente Convention par un Utilisateur ou un
  Utilisateur ne donnera aucun droit <span class=GramE>au Utilisateur</span> de
  demander une compensation quelconque à <span class=SpellE>Bacloo</span>.<br>
  L’utilisateur sera avisé de par courrier électronique de la résiliation de la
  présente convention et conséquemment de la résiliation de l’accès de l’utilisateur
  <span style='mso-spacerun:yes'> </span>ou de l’un de ses Utilisateurs au Site
  et aux Services.<br>
  <br>
  En cas de résiliation de l’accès d’un Utilisateur, l’utilisateur ne devra
  plus permettre à cet Utilisateur d’accéder au Site ni aux Services et l’utilisateur
  ne pourra pas non plus, ultérieurement créer un nouveau compte Utilisateur
  pour cette même personne dont l’accès au Site et aux Services a été retiré
  par <span class=SpellE>Bacloo</span> sans avoir obtenu le consentement
  préalable de <span class=SpellE>Bacloo</span>.<br>
  <br>
  <strong>8. PRIX ET PAIEMENT</strong><br>
  <br>
  Le prix des fiches et de leurs contacts est fixé par les utilisateurs <br>
  <strong><br>
  9. AUTRES OBLIGATIONS DE L’UTILISATEUR <span
  style='mso-spacerun:yes'> </span>ET DE SES UTILISATEURS</strong><br>
  <br>
  L’utilisateur s’engage prendre toutes les mesures nécessaires afin de protéger
  la confidentialité et l’intégralité des données contenues dans les Bases de
  données et ce, bien que ces données soient hébergés par <span class=SpellE>Bacloo</span>
  et accessibles par l’entremise du Site. <span class=SpellE>Bacloo</span> ne
  sera en aucun cas responsable de toute divulgation ou utilisation de l’information
  contenue dans les Bases de données.<br>
  <br>
  L’utilisateur et les Utilisateurs s'engagent à respecter la réglementation
  applicable en matière de propriété intellectuelle, de protection des données
  personnelles, de respect de la vie privée et plus généralement s'engagent à
  respecter l'ensemble de la réglementation en vigueur.<strong><br>
  <br>
  10. ACCEPTATION DES RISQUES RELIÉS À L’UTILISATION D’INTERNET</strong><br>
  <br>
  L’utilisateur et les Utilisateurs déclarent accepter les caractéristiques et
  les limites d'Internet et, plus particulièrement reconnaissent ce qui suit :<br>
  <br>
  &nbsp;&nbsp;&nbsp; * qu’ils ont connaissance de la nature d'Internet et en
  particulier de ses performances techniques et des temps de réponse pouvant
  être requis aux fins de consulter, interroger ou transférer des informations;<br>
  &nbsp;&nbsp;&nbsp; * que les données circulant sur Internet font l’objet d’un
  cryptage et d’une protection par mot de passe et de systèmes de protection
  anti-intrusion et antivirus, sans pour autant que <span class=SpellE>Bacloo</span>
  ne souscrive à une obligation de résultat, <span class=SpellE>Bacloo</span>
  déclinant toute responsabilité à l’égard de l’utilisateur ;<br>
  &nbsp;&nbsp;&nbsp; * que les données circulant sur Internet peuvent être
  réglementées en termes d'usage ou être protégées par un droit de propriété. L’utilisateur
  et les Utilisateurs sont seuls responsables de l'usage des données qu'ils
  consultent, interrogent et transfèrent par l’entremise du Site et des
  Services;<br>
  &nbsp;&nbsp;&nbsp; * qu'il appartient, dans un souci de protection réciproque
  au Utilisateur et aux Utilisateurs de prendre toutes les mesures appropriées
  de façon à protéger leurs propres données et/ou logiciels de la contamination
  d'éventuels virus. <br>
  <br>
  <strong>11. INDEMNISATION</strong><br>
  <br>
  Chaque Utilisateur sera responsable de tout préjudice direct ou indirect,
  matériel ou immatériel, causé par lui.<br>
  <br>
  L’utilisateur sera responsable de tout préjudice direct ou indirect, matériel
  ou immatériel, causé par lui ou par ses Utilisateurs ou toute autre personne
  dont il a la responsabilité.<br>
  <br>
  L’utilisateur convient et accepte par les présentes de prendre fait et cause
  pour <span class=SpellE>Bacloo</span> de même que pour ses représentants,
  agents, administrateurs, officiers, mandataires et employés advenant le cas
  où une poursuite judiciaire serait intentée contre l’un d’eux à la suite
  d'une violation des présentes conditions d'utilisation par le Utilisateur,
  ses Utilisateurs ou toute autre personne dont il a la responsabilité et qui
  pourrait accéder au Site ou aux Services.<br>
  <br>
  <strong>12. PROPRIÉTÉ INTELLECTUELLE</strong><br>
  <br>
  Le Site et les Services, de même que toutes les modifications qui pourront y
  être apportées, sont une création de <span class=SpellE>Bacloo</span>
  protégée par les droits d’auteur. Toute copie, adaptation, traduction,
  arrangement ou modification de tout ou partie du Site ou des Services, sous
  quelque forme que ce soit et par quelque moyen qui soit est strictement
  interdite sans l’autorisation préalable de <span class=SpellE>Bacloo</span>
  et aux conditions déterminées par <span class=SpellE>Bacloo</span>.<br>
  <br>
  Les dénominations « BACLOO » de même que tout logo utilisé de temps à autre
  par <span class=SpellE>Bacloo</span> sur le Site sont la propriété exclusive
  de <span class=SpellE>Bacloo</span> et ne peuvent être utilisés par un Utilisateur
  ou un Utilisateur sans le consentement préalable écrit de <span class=SpellE>Bacloo</span>.
  Chaque Utilisateur et Utilisateur s’engage à ne pas les utiliser ou en
  utiliser qui soient similaires, ou les diffuser de quelque manière que ce
  soit sans le consentement préalable écrit de <span class=SpellE>Bacloo</span>.<br>
  <br>
  <span class=SpellE>Bacloo</span> est et demeure en tout temps propriétaire de
  l’application <span class=SpellE>Bacloo</span> et de toutes les améliorations
  qui pourront y être apportées et en conséquence demeure seule et unique
  propriétaire des codes source et de tous les droits de propriété
  intellectuelle liés à l’application <span class=SpellE>Bacloo</span>.<br>
  <br>
  L’utilisateur n’est propriétaire et n’a de droit que sur les données
  enregistrées dans les Bases de données.<br>
  <strong><br>
  13. RESPONSABILITÉ DE BACLOO</strong><br>
  <br>
  L’utilisation du Site et Services est effective à vos risques et périls.<br>
  <br>
  <span class=SpellE>Bacloo</span>, de même que ses filiales ou leurs
  représentants, ne seront aucunement responsable des dommages directs ou
  indirects de quelque nature que ce soit pouvant être causé au Utilisateur,
  aux Utilisateurs ou à toute autre personne morale ou physique (tels que,
  notamment mais non limitativement, le préjudice commercial ou financier, ou
  les pertes d'exploitation) résultant d’une omission quelconque, de l’accès au
  Site ou de l’utilisation des Services, y compris toute perte de données et
  ce, que ces dommages découlent de toute source possible incluant notamment
  mais non limitativement, une erreur humaine ou technique, de problèmes ou de
  défectuosités techniques du réseau électronique ou du réseau de
  communications, des systèmes d'ordinateurs en ligne, de serveurs,
  d'équipements informatiques, de logiciels, de transmissions de données ou de
  tout autre problème technique ou de congestion du Site ou autres.<br>
  <strong><br>
  14. CONFIDENTIALITÉ</strong><br>
  <br>
  Les informations personnelles et les données recueillies sur un Utilisateur
  par <span class=SpellE>Bacloo</span> dans le cadre de la création d’un compte
  d’accès aux Services ou de l’utilisation des Services par ceux-ci demeurent
  la propriété de l’utilisateur, le cas échéant.<br>
  <br>
  <span class=SpellE>Bacloo</span> s’engage à ne pas communiquer ou transmettre
  à un tiers ces informations ou données sans le consentement préalable de l’utilisateur,
  le cas échéant, sauf à des fins de nécessités techniques et de sauvegarde et
  s’engage à les utiliser en conformité avec la politique de confidentialité <span
  class=SpellE>Bacloo</span>, laquelle fait partie intégrante de la présente
  Convention.<br>
  <br>
  <strong>15. FORCE MAJEURE</strong><br>
  <br>
  <span class=SpellE>Bacloo</span> ne sera pas responsable de l’inexécution, en
  tout ou en partie, de l’une quelconque de ses obligations envers <span
  class=GramE>le Utilisateur</span>, ni des dommages qu’il pourrait subir si
  telle inexécution, les dommages ou les pertes qui en découlent résultent d’un
  cas de force majeure ou d’une circonstance hors du contrôle de <span
  class=SpellE>Bacloo</span>.<br>
  <strong><br>
  16. MODIFICATIONS AUX SERVICES</strong><br>
  <br>
  <span class=SpellE>Bacloo</span> se réserve le droit, à tout moment et à son
  entière discrétion, de modifier, d’améliorer ou d’ajouter des fonctionnalités
  au Site et aux Services.<br>
  <br>
  <strong>17. MODIFICATIONS DE LA PRÉSENTE CONVENTION</strong><br>
  <br>
  <span class=SpellE>Bacloo</span> se réserve le droit de modifier à tout
  moment l’une ou l’autre des conditions prévues à la présente Convention. Ces
  modifications entreront en vigueur et s'appliqueront à tous les Utilisateurs
  et Utilisateurs à compter soit (i) de l’affichage en ligne de la nouvelle
  version sur le Site, ou (ii) dix (10) jours suivant l’affichage en ligne dans
  l’éventualité ou elles concernent des Services utilisés avant telle date
  d’affichage.<br>
  <br>
  Si un Utilisateur refuse l’application des modifications apportées à la
  présente Convention, il sera alors présumé refuser les modalités et
  conditions de la présente Convention, devra aviser <span class=SpellE>Bacloo</span>
  de ce refus et ne devra plus accéder au Site ni continuer à utiliser les
  Services.<br>
  <br>
  Il sera de la responsabilité de l’utilisateur <span
  style='mso-spacerun:yes'> </span>et des Utilisateurs de consulter
  régulièrement les conditions générales prévues à la présente Convention.<br>
  <br>
  <span class=SpellE>Bacloo</span> se réserve le droit d’aviser un Utilisateur des
  changements, modifications ou autre ajouts effectués à la présente
  Convention, au Site ou aux Services par la publication d’un message à cet
  effet sur le Site ou par l’envoi d’un courrier électronique les informant
  desdits changements.<br>
  <strong><br>
  18. DIVERS</strong><br>
  <br>
  La présente convention est régie et interprétée en vertu des lois applicables
  en France. Tout litige découlant ou lié à la navigation sur le Site ou à
  l’utilisation des Services sera soumis à la compétence des tribunaux français.<br
  style='mso-special-character:line-break'>
  <![if !supportLineBreakNewLine]><br style='mso-special-character:line-break'>
  <![endif]><o:p></o:p></span></p>
  </div>
  </td>
 </tr>
</table>


	</div>
{% endblock %}