<html>
    <head>
        <title></title>
    </head>
    <body>
        Bonjour,
        <br><br>
        Veuillez trouver ci-joint notre devis.
        <br><br>
        Merci de nous faire parvenir l’offre signée ou un bon de commande, afin de valider la location.
        <br><br>
        Nous restons à votre disposition.
        <br><br>
        Cordialement
        <br><br>
        Le service client
    </body>
</html>