<html>
<head>
    <title></title>
</head>
<body>
Bonjour {% if civilite == 'M.' %}Monsieur {% else %}Madame {% endif %}{{ prenom }} {{ nom }},
<br><br>
Veuillez trouver ci-joint votre facture,
<br><br>
En vous remerciant,
<br><br>
Le service client
</body>
</html>
