<html>
<body>aaaa{{ absolute_url(asset('img/hafsa.jpg')) }}
<img src="http://www.bacloo.fr/img/logo.png" alt="">
{#<img src="http://www.localcrimenews.com/wp-content/uploads/2013/07/default-user-icon-profile.png" alt="" class="img-circle img-responsive">#}

</body>
</html>