<html>
<head>
    <title></title>
</head>
<body>
Bonjour,
<br><br>
Votre location du matériel "{{ location.typemachine }}" sur le chantier {{ locata.nomchantier }} se termine ce jour.
<br><br>
Merci de bien vouloir nous indiquer si vous souhaitez prolonger ou arrêter la location en cours.
<br><br>
Cordialement
<br><br>
Le service client
</body>
</html>
