{# src/Bacloo/CrmBundle/Resources/views/Blog/search.html.twig #}
{% extends "BaclooCrmBundle::layout.html.twig" %}
{% block body %}
<p>Please search for a country and select the one you want on the returning list (type at least 2 characters).</p>
    <p>
    <input type="text" id="myTextField" />
    <div id="match"></div>
    </p>
{% endblock %}