{% extends "BaclooCrmBundle::layout.html.twig" %}
{% block body %}
<div class="row clearfix">

				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 <a class="close" href="">×</a>
							<h4 class="modal-title" id="myModalLabel">
								Mode restreint
							</h4>
						</div>
						<div class="modal-body">
							Votre compte a été placé en utilisation restreinte.<br>
							Veuillez contacter votre administrateur pour plus de précisions.
						</div>
						<div class="modal-footer">
							<a class="btn btn-primary" href=""><span>Fermer</span></a>
						</div>
					</div>					
				</div>				

</div>		
{% endblock %}